body {
    background-color: rgba(20, 20, 20, 1);
    color: rgba(225, 255, 225, 0.9);
    background-image: url(imgs/Page-3.gif);
    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}






.background-text {
    position: fixed;
    font-size: 4rem;
    opacity: 0.1;
    color: #f2e8e8;
}

.background-text2 {
    position: fixed;
    font-size: 4rem;
    opacity: 0.3;
    color: #db4949;
}