body {
    background-color: rgba(20, 20, 20, 1);
    color: rgba(225, 255, 225, 0.9);
    background-image: url(imgs/Glitch_Grit-Page-1.gif);

    background-size: cover;
    background-position-x: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.background-text {
    position: fixed;
    font-size: 4rem;
    opacity: 0.1;
    color: #f1e9e9;
}

a:link {
    font-family: Times New Roman;
    font-size: 0.7em;
    color: #882100;
    text-decoration-line: blink;
}

a:visited {
    font-family: Times New Roman;
    color: #882100;
    text-decoration: double;
}
a:hover {
    font-family: Times New Roman;
    font-size: 0.5em;
    color: #835757;
    text-decoration-line: blink;
}

@keyframes blink {
    0%,
    50%,
    100% {
        opacity: 1;
    }
    25%,
    75% {
        opacity: 0;
    }
}

.blink {
    animation: blink 0.001s infinite;
    color: #d57b7b;
    font-family: Times New Roman;
    font-weight: bold;
}

.vertical-text {
    writing-mode: vertical-rl;
    right: 300px;
    text-orientation: upright;
    color: #ffd2d2;
    font-family: Times New Roman;
    font-size: 20px;
}

.glitch {
    position: relative;
    color: white;
}

.glitch::before,
.glitch::after {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.7;
}

.glitch::before {
    color: #ff0000;
    transform: translate(-2px, 0);
}

.glitch::after {
    color: #ffd8d8;
    transform: translate(2px, 0);
}



